.back{
    background: radial-gradient(circle at 33% 100%, #fed373 4%, #f15245 30%, #d92e7f 62%, #9b36b7 85%, #515ecf);
    height: 590px;
    width: 1255px;
    
}
.accounts{
    font-family: BIZ UDPGothic;
    position: absolute;
    /* align-items: center; */
    /* justify-content: center; */
    left: 430px;
    top:170px;
    text-decoration: none;
    /* color: black; */
    
}