.screen{
    background: #3b5998;
    height: 590px;
    width: 1255px;
    
}
.fb-account{
    font-family: BIZ UDPGothic;
    position: absolute;
    left: 430px;
    top:170px;
    color: white;
}

