.backside{
    background: #1e34a0;
    height: 590px;
    width: 1255px;
    
}
.linkedin-account{
    font-family: BIZ UDPGothic;
    position: absolute;
    left: 430px;
    top:170px;
    color: white;
}

