.ground{
    background: #58afd2;
    height: 590px;
    width: 1255px;
    
}
.twitter-account{
    font-family: BIZ UDPGothic;
    position: absolute;
    left: 430px;
    top:170px;
    color: white;
}

